@media (max-width: 768px) {
    .outer{
        width: 100% !important;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .outer-head{
        width: 100%;
    }
}