@media (max-width: 920px) {
    .cards{
        flex-direction: column !important;
        gap: 20px;
    }   
    .card{
        flex-direction: row !important;
        align-items: center;
        width: 100% !important;
        height: 100% !important;
        padding: 10px;
        
        align-self: center !important;
    }
}