@media (max-width: 920px) {
    .sidebar{
        display: flex;
        justify-content: space-between;
        flex-direction: row !important;
        margin: 0;
        padding: 0;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .side-option{
        display: none !important;
    }
    .sidebar-image{
        border-radius: none !important;
        border-top-left-radius: none;
        border-bottom-left-radius: none !important;
    }
}