@font-face {
  font-family: Ubuntu-Regular;
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu-Regular' sans-serif;
  font-weight: bold;
}
:root{
  --title: #092542;
}

.switch-btn{
  width: 45px;
  height: 24px;
  background-color: var(--title);
  border-radius: 50px;
  position: relative;
  cursor: pointer;

}

.toggler{
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transform: translate(0);
  transition: all 0.3s ease;
}
.active{
  transform: translate(22px);
  transition: all 0.3s ease;

}